@import "tailwindcss";

@media print {
  nav, .sidebar, button, .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  body {
    background-color: white !important;
  }
}

.print-only {
  display: none;
}